{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block footer %}
<p style="position: absolute; top: 0; left: 200px;">
    <a href="#/edit/59" class="btn btn-warning">Edit "Getting started"</a>
    <a href="#/edit/109" class="btn btn-warning">Test field edit views</a>
</p>
<div class="ez-editorial-app pure">
    <div class="ez-view-container"></div>
</div>
{% stylesheets
    '@EzSystemsEditorialBundle/Resources/public/css/pure/0.3.0/base-context-min.css'
    '@EzSystemsEditorialBundle/Resources/public/css/pure/0.3.0/grids-min.css'
    '@EzSystemsEditorialBundle/Resources/public/css/layout.css'
    '@EzSystemsEditorialBundle/Resources/public/css/contenteditview.css'
    '@EzSystemsEditorialBundle/Resources/public/css/contenteditformview.css'
    '@EzSystemsEditorialBundle/Resources/public/css/fieldeditview.css'
    '@EzSystemsEditorialBundle/Resources/public/css/textline-editview.css'
    '@EzSystemsEditorialBundle/Resources/public/css/errorview.css'
    '@EzSystemsEditorialBundle/Resources/public/css/theme.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<script>
YUI.GlobalConfig = {
    modules: {
        "ez-capi": {
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/lib/CAPI.js' %}
            fullpath: "{{ asset_url }}",
            {% endjavascripts %}
        },
        "ez-editorialapp": {
            requires: [
                'app', 'app-transitions', 'node-screen', 'json', 'parallel',
                'ez-capi', 'ez-contenteditview', 'ez-contenteditformview',
                'ez-textline-editview', 'ez-errorview',
                'ez-restmodel', 'ez-contentmodel', 'ez-locationmodel', 'ez-usermodel', 'ez-contenttypemodel'
            ],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/apps/ez-editorialapp.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-templatebasedview": {
            requires: ['view', 'handlebars'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-templatebasedview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-contenteditview": {
            requires: ['ez-templatebasedview', 'ez-contenteditformview', 'transition', 'event-tap'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-contenteditview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-contenteditformview": {
            requires: ['ez-templatebasedview', 'transition', 'event-tap'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-contenteditformview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-errorview": {
            requires: ['ez-templatebasedview', 'transition', 'event-tap'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-errorview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-fieldeditview": {
            requires: ['ez-templatebasedview'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-fieldeditview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-textline-editview": {
            requires: ['ez-fieldeditview', 'event-valuechange'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/fields/ez-textline-editview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-restmodel": {
            requires: ['model'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/models/ez-restmodel.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-contentmodel": {
            requires: ['ez-restmodel'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/models/ez-contentmodel.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-locationmodel": {
            requires: ['ez-restmodel'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/models/ez-locationmodel.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-usermodel": {
            requires: ['ez-restmodel'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/models/ez-usermodel.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-contenttypemodel": {
            requires: ['ez-restmodel'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/models/ez-contenttypemodel.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        }
    },
    onSuccess: function (e) {
        for (var i = 0, len = e.data.length; i < len; ++i) {
            if ( e.data[i] === 'ez-capi' ) {
                YUI.add('ez-capi', function (Y) {
                    Y.namespace('eZ');
                    Y.eZ.CAPI = CAPI;
                    Y.eZ.SessionAuthAgent = SessionAuthAgent;
                });
            }
        }
    }
};

YUI().use('ez-editorialapp', function (Y) {
    var app = new Y.eZ.EditorialApp({
            container: '.ez-editorial-app',
            viewContainer: '.ez-view-container',
            capi: new Y.eZ.CAPI(
                "{{ app.request.uriForPath('/')|trim('/') }}",
                new Y.eZ.SessionAuthAgent({
                    login: "admin",
                    password: "ezpublish"
                })
            )
        });

    app.render().dispatch();
});
</script>

{% verbatim %}

<script type="text/x-handlebars-template" id="errorview-ez-template">
    <div class="ez-error-content" tabindex="0">
        <h2>Oh oh, an error has occured</h2>
            <div class="additional-info">
                {{#if additionalInfo.errorText}}
                Error text: {{ additionalInfo.errorText }}<br/>
                {{/if}}
            </div>
        <button href="#close-app" class="ez-close-app" data-icon="&#xe000;">Close the application</button>
        <button href="#retry" class="ez-retry" data-icon="&#xe00f;">Retry the operation</button>
    </div>
</script>

<script type="text/x-handlebars-template" id="contenteditview-ez-template">
    <div class="ez-main-content" tabindex="0">
        <header>
            <a href="#" class="ez-view-close" data-icon-after="&#xe000;">Close</a>
            <h1 class="ez-content-name" data-icon="&#xe001;">{{ content.name }}</h1>
            <ul class="ez-technical-infos"{{#unless isTouch}} style="opacity: 0;"{{/unless}}>
                <li>{{ contentType.names.[eng-GB] }}</li>
                <li>Created by {{ owner.name }}</li>
                <li>{{ content.lastModificationDate }}</li>
                <li>Object ID: {{ content.contentId }}, Node ID: {{ mainLocation.locationId }}</li>
            </ul>
        </header>
        <div class="ez-contenteditformview-container"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="contenteditformview-ez-template">
    <form class="ez-form-content">
        {{#each fieldGroups}}
            <fieldset class="ez-fieldgroup ez-fieldgroup-{{ fieldGroupName }}">
                <legend class="fieldgroup-name font-icon">{{fieldGroupName}}</legend>
                <div class="fieldgroup-fields"></div>
            </fieldset>
        {{/each}}
    </form>
</script>

<script type="text/x-handlebars-template" id="textlineeditview-ez-template">
    <div class="pure-g ez-editfield-row">
        <div class="pure-u ez-editfield-infos">
            <label for="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}">
                <p class="ez-fielddefinition-name">
                    {{#if fieldDefinition.descriptions.[eng-GB]}}
                        <span class="ez-editfield-i" title="{{ fieldDefinition.descriptions.[eng-GB] }}">?</span>
                    {{/if}}
                    {{ fieldDefinition.names.[eng-GB] }}{{#if isRequired}}*{{/if}}:
                </p>
                <p class="ez-editfield-error-message">&nbsp;</p>
            </label>
        </div>
        <div class="pure-u ez-editfield-input-area">
            <div class="ez-editfield-input"><div class="ez-textline-input-ui"><input type="text"
                    value="{{ field.fieldValue }}"
                    id="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}"
                    {{#if isRequired}} required{{/if}}
                    {{#if maxLength}} maxlength="{{ maxLength }}"{{/if}}
                    {{#if minLengthPattern}} pattern="{{ minLengthPattern }}"{{/if}}
                ></div></div>
        </div>
    </div>
</script>

{% endverbatim %}
    {{ parent() }}
{% endblock %}


