{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block footerScript %}
<p style="position: absolute; top: 0; left: 200px;">
    <a href="#/edit/{{ '/api/ezp/v2/content/objects/59'|url_encode }}" class="btn btn-warning">Edit "Getting started"</a>
    <a href="#/edit/{{ '/api/ezp/v2/content/objects/109'|url_encode }}" class="btn btn-warning">Test field edit views</a>
</p>
<div class="ez-editorial-app pure">
    <div class="ez-view-container"></div>
    <div class="ez-errorview-container is-hidden"></div>
</div>
{% stylesheets
    '@eZEditorialBundle/Resources/public/vendors/pure/base-context-min.css'
    '@eZEditorialBundle/Resources/public/vendors/pure/grids-min.css'
    '@eZEditorialBundle/Resources/public/css/bootstrap-reset.css'
    '@eZEditorialBundle/Resources/public/css/layout.css'
    '@eZEditorialBundle/Resources/public/css/contenteditview.css'
    '@eZEditorialBundle/Resources/public/css/contenteditformview.css'
    '@eZEditorialBundle/Resources/public/css/editactionbarview.css'
    '@eZEditorialBundle/Resources/public/css/buttonactionview.css'
    '@eZEditorialBundle/Resources/public/css/previewactionview.css'
    '@eZEditorialBundle/Resources/public/css/editpreviewview.css'
    '@eZEditorialBundle/Resources/public/css/fieldeditview.css'
    '@eZEditorialBundle/Resources/public/css/fields/textline-editview.css'
    '@eZEditorialBundle/Resources/public/css/fields/emailaddress-editview.css'
    '@eZEditorialBundle/Resources/public/css/fields/float-editview.css'
    '@eZEditorialBundle/Resources/public/css/fields/integer-editview.css'
    '@eZEditorialBundle/Resources/public/css/errorview.css'
    '@eZEditorialBundle/Resources/public/css/theme.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<script>
{{ ez_editorial_yui_config( "YUI.GlobalConfig" ) }}
YUI.GlobalConfig.onSuccess = function (e) {
    for (var i = 0, len = e.data.length; i < len; ++i) {
        if ( e.data[i] === 'ez-capi' ) {
            YUI.add('ez-capi', function (Y) {
                Y.namespace('eZ');
                Y.eZ.CAPI = eZ.CAPI;
                Y.eZ.SessionAuthAgent = eZ.SessionAuthAgent;
            });
        }
    }
};

YUI().use('ez-editorialapp', function (Y) {
    var app = new Y.eZ.EditorialApp({
            container: '.ez-editorial-app',
            viewContainer: '.ez-view-container',
            capi: new Y.eZ.CAPI(
                "{{ app.request.uriForPath('/')|trim('/') }}",
                new Y.eZ.SessionAuthAgent({
                    login: "admin",
                    password: "ezpublish"
                })
            )
        });

    app.render().dispatch();
});
</script>

{% verbatim %}

<script type="text/x-handlebars-template" id="errorview-ez-template">
        <div class="ez-error-content">
            <div class="ez-error-dialog" tabindex="0">
                <h2>An error has occurred</h2>
                <p class="additional-info">
                    {{#if additionalInfo.errorText}}
                        {{ additionalInfo.errorText }}
                    {{/if}}
                </p>
                <div class="ez-buttons-container">
                    <button class="pure-button ez-close-app" data-icon="&#xe000;">Close the application</button>
                    <button class="pure-button ez-retry" data-icon="&#xe00f;">Retry the operation</button>
                </div>
            </div>
        </div>
</script>

<script type="text/x-handlebars-template" id="contenteditview-ez-template">
    <div class="ez-main-content" tabindex="0">
        <header>
            <a href="#" class="ez-view-close" data-icon-after="&#xe000;">Close</a>
            <h1 class="ez-content-name" data-icon="&#xe001;">{{ content.name }}</h1>
            <ul class="ez-technical-infos"{{#unless isTouch}} style="opacity: 0;"{{/unless}}>
                <li>{{ contentType.names.[eng-GB] }}</li>
                <li>Created by {{ owner.name }}</li>
                <li>{{ content.lastModificationDate }}</li>
                <li>Object ID: {{ content.contentId }}, Node ID: {{ mainLocation.locationId }}</li>
            </ul>
        </header>
        <div class="ez-contenteditformview-container"></div>
    </div>
    <div class="ez-editactionbar-container"></div>
</script>
    

<script type="text/x-handlebars-template" id="contenteditformview-ez-template">
    <form class="ez-form-content">
        {{#each fieldGroups}}
            <fieldset class="ez-fieldgroup ez-fieldgroup-{{ fieldGroupName }}">
                <legend class="fieldgroup-name font-icon">{{fieldGroupName}}</legend>
                <div class="fieldgroup-fields"></div>
            </fieldset>
        {{/each}}
    </form>
</script>

<script type="text/x-handlebars-template" id="editactionbarview-ez-template">
    <menu class="ez-actions-list active-actions" tabindex="0">
    </menu>
    <button class="view-more-button is-hidden">{{ viewMoreText }}</button>
    <menu class="ez-actions-list view-more-actions is-hidden">
    </menu>
</script>

<script type="text/x-handlebars-template" id="buttonactionview-ez-template">
    <button class="ez-action {{#if disabled}}is-disabled {{else}}{{#if actionId}}action-trigger {{/if}}{{/if}}{{#if hint}}with-hint{{/if}}" data-action="{{ actionId }}">
        <div class="font-icon action-icon">
            <p class="action-label">{{ label }}</p>
            {{#if hint}}
            <p class="action-hint">{{ hint }}</p>
            {{/if}}
        </div>
    </button>
</script>

<script type="text/x-handlebars-template" id="previewactionview-ez-template">
    <div class="ez-action {{#if disabled}}is-disabled {{/if}}{{#if hint}}with-hint{{/if}}"  data-action="{{ actionId }}">
        <div class="font-icon action-icon">
            <p class="action-label">{{ label }}</p>
            {{#if hint}}
            <p class="action-hint">{{ hint }}</p>
            {{/if}}
            <menu class="preview-modes">
                {{#each buttons}}
                <button class="preview-mode-button action-trigger font-icon" data-action="{{ ../actionId }}" {{#if option}}data-action-option="{{ option }}"{{/if}} ></button>
                {{/each}}
            </menu>
        </div>
        <div class="ez-editpreviewview-container is-hidden"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="textlineeditview-ez-template">
    <div class="pure-g ez-editfield-row">
        <div class="pure-u ez-editfield-infos">
            <label for="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}">
                <p class="ez-fielddefinition-name">
                    {{#if fieldDefinition.descriptions.[eng-GB]}}
                        <span class="ez-editfield-i" title="{{ fieldDefinition.descriptions.[eng-GB] }}">?</span>
                    {{/if}}
                    {{ fieldDefinition.names.[eng-GB] }}{{#if isRequired}}*{{/if}}:
                </p>
                <p class="ez-editfield-error-message">&nbsp;</p>
            </label>
        </div>
        <div class="pure-u ez-editfield-input-area ez-default-error-style">
            <div class="ez-editfield-input"><div class="ez-textline-input-ui"><input type="text"
                    value="{{ field.fieldValue }}"
                    id="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}"
                    {{#if isRequired}} required{{/if}}
                    {{#if maxLength}} maxlength="{{ maxLength }}"{{/if}}
                    {{#if minLengthPattern}} pattern="{{ minLengthPattern }}"{{/if}}
                ></div></div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="emailaddresseditview-ez-template">
    <div class="pure-g ez-editfield-row">
        <div class="pure-u ez-editfield-infos">
            <label for="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}">
                <p class="ez-fielddefinition-name">
                    {{#if fieldDefinition.descriptions.[eng-GB]}}
                    <span class="ez-editfield-i" title="{{ fieldDefinition.descriptions.[eng-GB] }}">?</span>
                    {{/if}}
                    {{ fieldDefinition.names.[eng-GB] }}{{#if isRequired}}*{{/if}}:
                </p>
                <p class="ez-editfield-error-message">&nbsp;</p>
            </label>
        </div>
        <div class="pure-u ez-editfield-input-area ez-default-error-style">
            <div class="ez-editfield-input"><div class="ez-emailaddress-input-ui"><input type="email"
                    value="{{ field.fieldValue }}"
                    id="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}"
                    {{#if isRequired}} required{{/if}}
                ></div></div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="floateditview-ez-template">
    <div class="pure-g ez-editfield-row">
        <div class="pure-u ez-editfield-infos">
            <label for="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}">
                <p class="ez-fielddefinition-name">
                    {{#if fieldDefinition.descriptions.[eng-GB]}}
                    <span class="ez-editfield-i" title="{{ fieldDefinition.descriptions.[eng-GB] }}">?</span>
                    {{/if}}
                    {{ fieldDefinition.names.[eng-GB] }}{{#if isRequired}}*{{/if}}:
                </p>
                <p class="ez-editfield-error-message">&nbsp;</p>
            </label>
        </div>
        <div class="pure-u ez-editfield-input-area ez-default-error-style">
            <div class="ez-editfield-input"><div class="ez-float-input-ui"><input type="text"
                        value="{{ field.fieldValue }}"
                        id="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}"
                        {{#if isRequired}} required{{/if}}
                        {{#if floatPattern}} pattern="{{ floatPattern }}"{{/if}}
                    ></div></div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="integereditview-ez-template">
    <div class="pure-g ez-editfield-row">
        <div class="pure-u ez-editfield-infos">
            <label for="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}">
                <p class="ez-fielddefinition-name">
                    {{#if fieldDefinition.descriptions.[eng-GB]}}
                    <span class="ez-editfield-i" title="{{ fieldDefinition.descriptions.[eng-GB] }}">?</span>
                    {{/if}}
                    {{ fieldDefinition.names.[eng-GB] }}{{#if isRequired}}*{{/if}}:
                </p>
                <p class="ez-editfield-error-message">&nbsp;</p>
            </label>
        </div>
        <div class="pure-u ez-editfield-input-area ez-default-error-style">
            <div class="ez-editfield-input"><div class="ez-integer-input-ui"><input type="text"
                    value="{{ field.fieldValue }}"
                    id="ez-field-{{ content.contentId }}-{{ fieldDefinition.identifier }}"
                    {{#if isRequired}} required{{/if}}
                    {{#if integerPattern}} pattern="{{ integerPattern }}"{{/if}}
                    ></div></div>
        </div>
    </div>
</script>


<script type="text/x-handlebars-template" id="editpreviewview-ez-template">
    <div class="ez-preview-content" tabindex="0">
        <header>
            <button class="ez-preview-hide" data-icon-after="&#xe000;">Close preview</button>
            <h2>Previewing: <strong>{{ legend }}</strong></h2>
        </header>
        <div class="preview-device {{ mode.id }}">
            <div class="iframe-wrapper">
            <div class="ez-loader is-loading"></div>
            <iframe class="preview-iframe" width="{{ mode.width }}" height="{{ mode.height }}" src="{{ source }}" frameBorder="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</script>

{% endverbatim %}
    {{ parent() }}
{% endblock %}


