{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block footerScript %}
<p style="position: absolute; top: 0; left: 0;"><a href="#/edit/59">Edit</a></p>
<div class="ez-editorial-app pure">
    <div class="ez-view-container"></div>
</div>
{% stylesheets
    '@EzSystemsEditorialBundle/Resources/public/css/pure/0.2.0/base-context-min.css'
    '@EzSystemsEditorialBundle/Resources/public/css/layout.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<script>
YUI.GlobalConfig = {
    modules: {
        "ez-capi": {
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/lib/CAPI.js' %}
            fullpath: "{{ asset_url }}",
            {% endjavascripts %}
        },
        "ez-editorialapp": {
            requires: [
                'app', 'app-transitions', 'node-screen', 'json',
                'ez-capi', 'ez-contenteditview'
            ],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/apps/ez-editorialapp.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-templatebasedview": {
            requires: ['view', 'handlebars'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-templatebasedview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        },
        "ez-contenteditview": {
            requires: ['ez-templatebasedview', 'transition', 'event-tap'],
            {% javascripts '@EzSystemsEditorialBundle/Resources/public/js/views/ez-contenteditview.js' %}
            fullpath: "{{ asset_url }}"
            {% endjavascripts %}
        }
    },
    onSuccess: function (e) {
        for (var i = 0, len = e.data.length; i < len; ++i) {
            if ( e.data[i] === 'ez-capi' ) {
                YUI.add('ez-capi', function (Y) {
                    Y.namespace('eZ');
                    Y.eZ.CAPI = CAPI;
                    Y.eZ.SessionAuthAgent = SessionAuthAgent;
                });
            }
        }
    }
};

YUI().use('ez-editorialapp', function (Y) {
    var app = new Y.eZ.EditorialApp({
            container: '.ez-editorial-app',
            viewContainer: '.ez-view-container',
            capi: new Y.eZ.CAPI(
                "{{ app.request.uriForPath('/')|trim('/') }}",
                new Y.eZ.SessionAuthAgent({
                    login: "admin",
                    password: "ezpublish"
                })
            )
        });

    app.render().dispatch();
});
</script>

{% verbatim %}
<script type="text/x-handlebars-template" id="contenteditview-ez-template">
    <div class="ez-main-content">
        <header>
            <a href="#" class="ez-view-close" data-icon-after="&#xe000;">Close</a>
            <h1 class="ez-content-name" data-icon="&#xe001;">{{ content.Name }}</h1>
            <ul class="ez-technical-infos"{{#unless isTouch}} style="opacity: 0;"{{/unless}}>
                <li>{{ contentType.identifier }}</li>
                <li>Created by {{ owner.name }}</li>
                <li>{{ content.lastModificationDate }}</li>
                <li>Object ID: {{ content._id }}, Node ID: {{ mainLocation.id }}</li>
            </ul>
        </header>
    </div>
</script>
{% endverbatim %}
    {{ parent() }}
{% endblock %}
