{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "language" %}

{% block choice_row %}
    {{ form_widget(form) }}
{% endblock choice_row %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: '', label: 'language.list'|trans({}, 'language')}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name">
        {{ ez_ui_icon('languages') }}
        {{ 'language.list'|trans }}
    </h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-list-toolbar">
            <h2 class="ez-list-toolbar-label">{{ 'language.list'|trans }}</h2>
            <div class="ez-list-toolbar-tools">
                <a href="{{ path('admin_languageedit') }}" class="ez-button ez-button-primary"{% if not canEdit %} data-disabled{% endif %}>
                    {{ ez_ui_icon('create') }}
                    {{ 'language.new'|trans }}
                </a>
            </div>
        </div>
        <table class="ez-table-data ez-table-data-row-tool" data-selection-buttons=".ez-remove-language-button">
            <thead>
                <tr>
                    <th>{{ 'language.name'|trans }}</th>
                    <th>{{ 'language.code'|trans }}</th>
                    <th>{{ 'language.id'|trans }}</th>
                    <th>{{ 'language.enabled'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for language in languageList %}
                <tr class="ez-selection-table-row">
                    <td><a href="{{ path( 'admin_languageview', {'languageId': language.id} ) }}">{{ language.name }}</a></td>
                    <td><a href="{{ path( 'admin_languageview', {'languageId': language.id} ) }}">{{ language.languageCode }}</a></td>
                    <td class="ez-table-data-id"><a href="{{ path( "admin_languageview", {"languageId": language.id} ) }}">{{ language.id }}</a></td>
                    <td><input type="checkbox" disabled {% if language.enabled %}checked title="{{ 'language.enabled'|trans }}"{% else %}title="{{ 'language.disabled'|trans }}"{% endif %}></td>
                    <td>
                        {% set deleteForm = deleteFormsByLanguageId[language.id] %}
                        {{ form_start(deleteForm, {"action": path("admin_languagedelete", {"languageId": language.id, "redirectErrorsTo": "list"})}) }}
                            {{ form_widget(deleteForm.languageId) }}

                            {% set dialogId = 'confirm-section-removal-' ~ language.id %}
                            {{
                                include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
                                    'dialogId': dialogId,
                                    'message': 'confirm.remove.language'|trans()|desc('Are you sure you want to delete this language?'),
                                    'confirmButton': deleteForm.delete,
                                })
                            }}

                            <a href="{{ path('admin_languageedit', {'languageId': language.id}) }}" class="ez-button ez-button-secondary"{% if not canEdit %} data-disabled{% endif %}>
                                {{ ez_ui_icon('edit') }}
                            </a>
                            <button type="button" value="#{{ dialogId }}"
                                class="ez-button ez-button-negative ez-js-open-modal"
                                {% if not canEdit %} disabled{% endif %}>
                                {{ ez_ui_icon('trash') }}
                                {{ deleteForm.delete.vars.label|trans({}, deleteForm.delete.vars.translation_domain) }}
                            </button>
                        {{ form_end(deleteForm) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block title %}{{ 'language.list'|trans }}{% endblock %}
