{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "section" %}

{% set editTitle = section.new ? "section.create.title"|trans() : "section.edit.title"|trans({"%sectionName%": section.name}) %}

{% block title %}
    {{ editTitle }}
{% endblock %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: path('admin_sectionlist'), label: 'section.list'|trans({})},
        {
            link: section.new ? "" : path('admin_sectionview', {'sectionId': section.id}),
            label: 'section.view.title'|trans({'%sectionName%': section.name})
        },
        {link: '', label: editTitle}
    ] %}

    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name">
        {{ ez_ui_icon('sections') }}
        {{ editTitle }}
    </h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        {{ form_start(form, {'action': actionUrl}) }}
            {{ form_errors(form) }}

            <fieldset>
                <div>
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div>
                    {{ form_label(form.identifier) }}
                    {{ form_errors(form.identifier) }}
                    {{ form_widget(form.identifier) }}
                </div>
            </fieldset>

            <div>
                <a href="{{ section.new ? path("admin_sectionlist") : path("admin_sectionview", {"sectionId": section.id}) }}"
                   class="ez-button ez-button-secondary">{{ "section.cancel"|trans }}</a>
                {{ form_widget(form.save, {"attr": {"class": "ez-button ez-button-primary"}}) }}
            </div>

        {{ form_end(form) }}
    </section>
{% endblock %}
