{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "section" %}

{% form_theme form _self %}

{% block choice_widget %}
    {% for child in form %}
        {% set section = child.vars.label %}

        <tr class="ez-selection-table-row">
            <td>
                {{ form_widget(child, {'disabled': not section.canDelete, 'attr': {'class': 'ez-selection-table-checkbox'} }) }}
            </td>
            <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.name }}</a></td>
            <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.identifier }}</a></td>
            <td class="ez-table-data-id"><a href="{{ path( "admin_sectionview", {"sectionId": section.id} ) }}">{{ section.id }}</a></td>
            <td class="ez-table-data-count">{{ section.contentCount }}</td>
            <td>
                <button
                    data-universaldiscovery-title="{{ 'section.assign.universaldiscovery.title'|trans({'%sectionName%': section.name })|e('html_attr') }}"
                    data-section-rest-id="{{path( 'ezpublish_rest_loadSection', {'sectionId': section.id}) }}"
                    class="ez-section-assign-button ez-button-tree pure-button font-icon ez-button"
                    {% if not section.canAssign %}disabled="disabled"{% endif %}>{{ 'section.assigned.to_subtree'|trans }}</button>
            </td>
            <td>
                <a href="{{ path('admin_sectionedit', {'sectionId': section.id}) }}" class="pure-button ez-button{% if not section.canEdit %} pure-button-disabled{% endif %}" data-icon="&#xe606;">{{ 'section.edit'|trans }}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock choice_widget  %}

{% block choice_row %}
    {{ form_widget(form) }}
{% endblock choice_row %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: '', label: 'section.list'|trans({}, 'section')}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'section.list'|trans }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-table-data is-flexible">
            {{ form_start(form, {'attr': {'class': 'ez-table-data-container'} }) }}
                {{ form_errors(form) }}
                <table class="pure-table pure-table-striped ez-selection-table" data-selection-buttons=".ez-remove-section-button">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'section.name'|trans }}</th>
                            <th>{{ 'section.identifier'|trans }}</th>
                            <th>{{ 'section.id'|trans }}</th>
                            <th>{{ 'section.assigned.content'|trans }}</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ form_row(form.ids) }}
                    </tbody>
                </table>
                <p class="ez-table-data-buttons">
                    {{ form_widget(
                        form.delete,
                        {
                            'disabled': true,
                            'attr': {'class': 'pure-button ez-button ez-remove-section-button font-icon ez-button-delete'}
                        }
                    )}}
                    <a href="{{ path('admin_sectioncreate') }}" class="pure-button ez-button{% if not canCreate %} pure-button-disabled{% endif %}" data-icon="&#xe616;">{{ 'section.new'|trans }}</a>
                </p>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'section.list'|trans }}{% endblock %}
