{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "section" %}

{% block choice_widget %}
    {% for child in form %}
        {% set section = child.vars.label %}

        <tr>
            <td>
                {{ form_widget(child, {'disabled': not section.canDelete, 'attr': {'class': 'ez-selection-table-checkbox'} }) }}
            </td>
            <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.name }}</a></td>
            <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.identifier }}</a></td>
            <td class="ez-table-data-id"><a href="{{ path( "admin_sectionview", {"sectionId": section.id} ) }}">{{ section.id }}</a></td>
            <td class="ez-table-data-count">{{ section.contentCount }}</td>
            <td>
                <button
                    data-universaldiscovery-title="{{ 'section.assign.universaldiscovery.title'|trans({'%sectionName%': section.name })|e('html_attr') }}"
                    data-section-rest-id="{{path( 'ezpublish_rest_loadSection', {'sectionId': section.id}) }}"
                    data-section-name="{{ section.name }}"
                    class="ez-section-assign-button ez-button"
                    {% if not section.canAssign %}disabled="disabled"{% endif %}>{{ 'section.assign.contents'|trans }}</button>
            </td>
            <td>
                <a href="{{ path('admin_sectionedit', {'sectionId': section.id}) }}" class="ez-button" data-icon="&#xe606;"{% if not section.canEdit %} data-disabled{% endif %}>{{ 'section.edit'|trans }}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock choice_widget  %}

{% block choice_row %}
    {{ form_widget(form) }}
{% endblock choice_row %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: '', label: 'section.list'|trans({}, 'section')}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name">
        {{ ez_ui_icon('sections') }}
        {{ 'section.list'|trans }}
    </h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-list-toolbar">
            <h2 class="ez-list-toolbar-label">{{ 'section.list'|trans }}</h2>
            <div class="ez-list-toolbar-tools">
                <a href="{{ path('admin_sectionedit') }}" class="ez-button ez-button-primary"{%if not canEdit %} data-disabled{% endif %}>{{ ez_ui_icon('create') }} {{ 'section.new'|trans }}</a>
            </div>
        </div>
        <table class="ez-table-data ez-table-data-row-tool" data-selection-buttons=".ez-remove-section-button">
            <thead>
                <tr>
                    <th>{{ 'section.name'|trans }}</th>
                    <th>{{ 'section.identifier'|trans }}</th>
                    <th>{{ 'section.id'|trans }}</th>
                    <th>{{ 'section.assigned.content'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for section in sectionList %}
                <tr class="ez-selection-table-row">
                    <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.name }}</a></td>
                    <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.identifier }}</a></td>
                    <td class="ez-table-data-id"><a href="{{ path( "admin_sectionview", {"sectionId": section.id} ) }}">{{ section.id }}</a></td>
                    <td class="ez-table-data-count">{{ contentCountBySectionId[section.id] }}</td>
                    <td>

                        {% set deleteForm = deleteFormsBySectionId[section.id] %}
                        {{ form_start(deleteForm, {"action": path("admin_sectiondelete", {"sectionId": section.id, "redirectErrorsTo": "list"})}) }}
                            {{ form_widget(deleteForm.sectionId) }}

                            {% set dialogId = 'confirm-section-removal-' ~ section.id %}
                            {{
                                include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
                                    'dialogId': dialogId,
                                    'message': 'confirm.remove.section'|trans()|desc('Are you sure you want to delete this section?'),
                                    'confirmButton': deleteForm.delete,
                                })
                            }}

                            <button
                                type="button"
                                data-universaldiscovery-title="{{ 'section.assign.universaldiscovery.title'|trans({'%sectionName%': section.name })|e('html_attr') }}"
                                data-section-rest-id="{{ path( 'ezpublish_rest_loadSection', {'sectionId': section.id}) }}"
                                data-section-name="{{ section.name }}"
                                class="ez-button ez-button-secondary"
                                {% if not canAssign %}disabled="disabled"{% endif %}>{{ ez_ui_icon('relations') }} {{ 'section.assign.contents'|trans }}</button>

                            <a href="{{ path('admin_sectionedit', {'sectionId': section.id}) }}" class="pure-button ez-button ez-button-secondary"{% if not canEdit %} data-disabled{% endif %} title="{{ 'section.edit'|trans }}">{{ ez_ui_icon('edit') }}</a>
                            <button type="button" value="#{{ dialogId }}"
                                class="ez-button ez-button-negative ez-js-open-modal"
                                {% if deletableSections[section.id] is not defined %} disabled{% endif %}>
                                {{ ez_ui_icon('trash') }}
                                {{ deleteForm.delete.vars.label|trans({}, deleteForm.delete.vars.translation_domain) }}
                            </button>
                        {{ form_end(deleteForm) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block title %}{{ 'section.list'|trans }}{% endblock %}
