{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "systeminfo" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: '', label: 'system.information'|trans({}, 'systeminfo') },
    ] %}

    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe617">{{ 'system.information'|trans }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-tabs ez-serverside-content">
        <ul class="ez-tabs-list">
            <li class="ez-tabs-label is-tab-selected"><a href="#ez-tabs-platform">eZ Platform</a></li>
            <li class="ez-tabs-label"><a href="#ez-tabs-server">{{ 'server'|trans }}</a></li>
        </ul>
        <div class="ez-tabs-panels">
            <div class="ez-tabs-panel is-tab-selected" id="ez-tabs-platform">
                <p class="ez-platform-version">{{ 'ez.platform.version'|trans }} <strong>{{ ezplatformInfo.version }}</strong> {{ 'symfony.based'|trans }} <strong>{{ ezplatformInfo.symfony }}</strong></p>
                <h2>{{ 'bundles'|trans }}</h2>
                <ul>
                    {% for bundle, ns in ezplatformInfo.bundles %}
                        <li><strong>{{ bundle }}</strong> (<tt>{{ ns }}</tt>)</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="ez-tabs-panel" id="ez-tabs-server">
                <h2>{{ 'software'|trans }}</h2>
                <dl>
                    <dt>PHP</dt>
                    <dd>
                        {{ systemInfo.phpVersion }}
                        (<a href="{{ path( 'admin_phpinfo' ) }}" target="_blank">{{ 'php.info'|trans }}</a>)
                    </dd>
                    <dt>{{ 'php.accelerator'|trans }}</dt>
                    <dd>
                    {% if systemInfo.phpAccelerator %}
                        {% if not systemInfo.phpAccelerator.enabled %}
                            <strong>{{ 'disabled'|trans }}</strong>
                        {% endif %}
                        <a href="{{ systemInfo.phpAccelerator.url }}" target="_blank">{{ systemInfo.phpAccelerator.name }} ({{ systemInfo.phpAccelerator.versionString }})</a>
                    {% else %}
                        {{ 'php.accelerator.not.found'|trans }}
                    {% endif %}
                    </dd>
                    {%set db = systemInfo.database %}
                    <dt>{{ 'database'|trans }}</dt>
                    <dd>{{ db.type }} (<tt>{{ db.type }}://{{ db.username }}@{{ db.host }}/{{ db.name }}</tt>)</dd>
                </dl>

                <h2>{{ 'hardware'|trans }}</h2>
                <dl>
                    <dt>{{ 'cpu'|trans }}</dt>
                    <dd>
                        {{ systemInfo.cpuType }}
                        {% if systemInfo.cpuSpeed %}
                            ({{ systemInfo.cpuCount }}x{{ systemInfo.cpuSpeed }}&nbsp;{{ 'mhz'|trans }})
                        {% endif %}
                    </dd>
                    <dt>{{ 'memory'|trans }}</dt>
                    <dd>{{ systemInfo.memorySize|ez_file_size( 1 ) }}</dd>
                </dl>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{'system.information'|trans }}{% endblock %}
