<!doctype html>
<html class=""><!-- empty class is needed for webcomponents polyfill with ez-yui-app.html import (?!) -->
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">

{% stylesheets '$css.files;ez_platformui$' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}

    <style>
        * {
            box-sizing: border-box;
        }
        a, a:visited {
            color: #009;
        }
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        nav {
            border: 2px solid green;
            flex: 0 0 8em;
        }
        main {
            border: 2px solid red;
            min-height: calc(100vh - 8em);
            flex: 1 0;
            display: flex;
        }
        ez-discovery-bar {
            border: 2px solid blue;
            flex: 0 0 230px;
        }

        ez-discovery-bar > * {
            line-height: 3;
            border: 1px solid purple;
        }
        ez-browse:after {
            content: " (" attr(location-id) ")";
        }
        .ez-main-content {
            flex: 1 1;
        }

        ez-subitem {
            border: 1px solid aqua;
        }
    </style>

    <script src="{{ asset('bundles/ezplatformui/vendors/webcomponentsjs/webcomponents-lite.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-platformui-app.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-subitem.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-universaldiscoverywidget.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-browse.html' ) }}">
</head>
<body class="ez-platformui-app is-app-open">
    <ez-platformui-app>
        <nav>
            I'm the navigation hub
            <ul>
                <li><a href="{{ path( 'proto_dashboard' ) }}">Dashboard</a></li>
                <li><a href="{{ path( 'proto_viewLocation', {locationId: 2} ) }}">Content structure</a></li>
                <li><a href="{{ path( 'proto_viewLocation', {locationId: 43} ) }}">Media library</a></li>
            </ul>
        </nav>
        <main>
            {{ discoveryBar|raw }}
            <div class="ez-main-content">
                {{ content|raw }}
            </div>
        </main>
    </ez-platformui-app>
</body>
</html>
