<!doctype html>
<html lang="{{ app.request.locale }}" class="ez-platformui-app-page">
{% trans_default_domain "general" %}
<head>
    <title>eZ Platform UI</title>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8"/>
{% stylesheets '$css.files;ez_platformui$' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
    <style>
        .ez-loading-message {
            display: none;
        }

        .yui3-js-enabled .ez-loading-message {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 40px;
            margin-top: 50px;
            text-align: center;
            display: block;
            color: #888;
        }
        .ez-platformui-app-ready .ez-loading-message {
            display: none;
        }
    </style>
</head>
<body class="ez-platformui-app-body yui3-skin-platformui">
    <div class="ez-loading-message"><em>{{ 'loading.application'|trans }}</em></div>
    <div class="ez-platformui-app pure is-menu-hidden is-navigation-hidden is-universaldiscovery-hidden">
        <div class="ez-universaldiscovery-container"></div>
        <div class="ez-navigation-container"></div>
        <div class="ez-mainviews pure-g">
            <div class="ez-menu-container pure-u"></div>
            <div class="ez-view-container pure-u"></div>
        </div>
        <div class="ez-errorview-container is-hidden pure-u"></div>
    </div>

    <noscript>
        <p>{{ 'javascript.disabled.required'|trans }}</p>
        <p><strong>{{ 'javascript.enable'|trans }}</strong></p>
    </noscript>
    <script src="{{ asset( "bundles/ezplatformuiassets/vendors/yui3/build/yui/yui-min.js" ) }}"></script>
    <script>
        {{ ez_platformui_yui_config( "YUI.GlobalConfig" ) }}

        YUI.GlobalConfig.onSuccess = function (e) {
            for (var i = 0, len = e.data.length; i < len; ++i) {
                if ( e.data[i] === 'ez-capi' ) {
                    YUI.add('ez-capi', function (Y) {
                        Y.namespace('eZ');
                        Y.eZ.CAPI = eZ.CAPI;
                        Y.eZ.SessionAuthAgent = eZ.SessionAuthAgent;
                    });
                }
            }
        };

        YUI().use('ez-platformuiapp', function (Y) {
            var app = new Y.eZ.PlatformUIApp({
                    container: '.ez-platformui-app',
                    viewContainer: '.ez-view-container',
                    root: "{{ app.request.attributes.get( 'semanticPathinfo' ) }}",
                    assetRoot: "{{ asset( '/' ) }}",
                    anonymousUserId: "{{ anonymousUserId }}",
                    plugins: Y.eZ.PluginRegistry.getPlugins(Y.eZ.PlatformUIApp.NAME),
                    capi: new Y.eZ.CAPI(
                        "{{ app.request.uriForPath('/')|trim('/') }}",
                        new Y.eZ.SessionAuthAgent({%if sessionInfo.isStarted %}{
                                name: "{{ sessionInfo.name }}",
                                identifier: "{{ sessionInfo.identifier }}",
                                href: "{{ sessionInfo.href }}",
                                csrfToken: "{{ sessionInfo.csrfToken }}",
                        }{% endif %})
                    ),
                    routeConfig: {
                        "viewLocation": {
                            "fieldViews": {
                                "ezcountry": {{countriesInfo|json_encode|raw}}
                            }
                        },
                        "editContent": {
                            "fieldEditViews": {}
                        }
                    }
                });
            app.on('ready', function () {
                Y.one(Y.config.doc.documentElement).addClass('ez-platformui-app-ready');
            });
            app.render().dispatch();

            if ( !Y.config.doc.location.hash ) {
                Y.config.doc.location.hash = '#/login';
            }
        });
    </script>
</body>
</html>
