<ul class="ez-zones-navigation">
    <li class="ez-logo"><a href="{{ path "dashboard" }}"><img src="{{ asset "bundles/ezeditorial/img/logo.png" }}" alt="Logo eZ" /></a></li>
    <li class="ez-zone ez-create-zone" data-navigation="create">
        <p class="ez-zone-name">Create</p>
        <p class="ez-zone-hint">Creating & Editing</p>
    </li>
    <li class="ez-zone ez-deliver-zone" data-navigation="deliver">
        <p class="ez-zone-name">Deliver</p>
        <p class="ez-zone-hint">Publishing & Engaging</p>
    </li>
    <li class="ez-zone ez-optimize-zone" data-navigation="optimize">
        <p class="ez-zone-name">Optimize</p>
        <p class="ez-zone-hint">Statistics & Analytics</p>
    </li>
    <li class="ez-link ez-exchange">
        <a href="#" data-icon-after="&#xe013;">eZ Exchange</a>
    </li>
    <li class="ez-link ez-settings">
        <a href="#" data-icon-after="&#xe012;">Settings</a>
    </li>
</ul>
<nav class="ez-navigation">
    <ul class="ez-navigation-create">
        <li class="ez-logo"><a class="ez-navigation-item" href="{{ path "dashboard" }}"><img src="{{ asset "bundles/ezeditorial/img/logo.png" }}" alt="Logo eZ" /></a></li>
        <li class="ez-sub-menu-link">
            <a class="ez-navigation-item" href="#">Insite editing</a>
            <ul class="ez-sub-menu">
                <li><a class="ez-navigation-item" href="#">Site 1</a></li>
                <li><a class="ez-navigation-item" href="#">Site 2</a></li>
                <li><a class="ez-navigation-item" href="#">A very very very long site name</a></li>
                <li><a class="ez-navigation-item" href="#">Site 4</a></li>
            </ul>
        </li>
        <li class="ez-navigation-active"><a class="ez-navigation-item" href="{{path "viewLocation" id='/api/ezp/v2/content/locations/1/2'}}">Content structure</a></li>
        <li><a class="ez-navigation-item" href="{{path "viewLocation" id='/api/ezp/v2/content/locations/1/43'}}">Media library</a></li>
        <li><a class="ez-navigation-item" href="#">Campaign</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 1</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 2</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 3</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 4</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 5</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 6</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 7</a></li>
        <li><a class="ez-navigation-item" href="#">Very long extension name 8</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 9</a></li>
        <li><a class="ez-navigation-item" href="#">Extensions 10</a></li>
        <li class="ez-more ez-sub-menu-link">
            <a href="#" class="ez-navigation-item">More</a>
            <ul class="ez-sub-menu"></ul>
        </li>
    </ul>
    <ul class="ez-navigation-optimize">
        <li class="ez-logo"><a class="ez-navigation-item" href="{{ path "dashboard" }}"><img src="{{ asset "bundles/ezeditorial/img/logo.png" }}" alt="Logo eZ" /></a></li>
        <li><a class="ez-navigation-item" href="#">Optimize 1</a></li>
        <li><a class="ez-navigation-item" href="#">Optimize 2</a></li>
        <li><a class="ez-navigation-item" href="#">Optimize 3</a></li>
        <li><a class="ez-navigation-item" href="#">Optimize 4</a></li>
        <li class="ez-more ez-sub-menu-link">
            <a href="#" class="ez-navigation-item">More</a>
            <ul class="ez-sub-menu"></ul>
        </li>
    </ul>
    <ul class="ez-navigation-deliver">
        <li class="ez-logo"><a class="ez-navigation-item" href="{{ path "dashboard" }}"><img src="{{ asset "bundles/ezeditorial/img/logo.png" }}" alt="Logo eZ" /></a></li>
        <li><a class="ez-navigation-item" href="#">Deliver 1</a></li>
        <li><a class="ez-navigation-item" href="#">Deliver 2</a></li>
        <li><a class="ez-navigation-item" href="#">Deliver 3</a></li>
        <li><a class="ez-navigation-item" href="#">Deliver 4</a></li>
        <li class="ez-more ez-sub-menu-link">
            <a href="#" class="ez-navigation-item">More</a>
            <ul class="ez-sub-menu"></ul>
        </li>
    </ul>
</nav>
