{# @var role \eZ\Publish\API\Repository\Values\User\Role #}
{# @var role_assignments \eZ\Publish\API\Repository\Values\User\RoleAssignment[] #}
{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "role" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: path('admin_role'), label: 'role.dashboard_title'|trans},
        {link: null, label: role.identifier}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe921;">{{ role.identifier }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-tabs ez-serverside-content">
        <ul class="ez-tabs-list">
            <li class="ez-tabs-label is-tab-selected"><a href="#ez-tabs-role-name">{{ role.identifier }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tabs-content">{{ 'assignment.user_or_group_using'|trans({'%role%': role.identifier, '%count%': role_assignments|length }) }}</a></li>
        </ul>
        <div class="ez-tabs-panel is-tab-selected" id="ez-tabs-role-name">
            <table class="ez-table-data ez-table-data-row-tool">
                <thead>
                <tr>
                    <th>{{ 'policy.module'|trans }}</th>
                    <th>{{ 'policy.function'|trans }}</th>
                    <th>{{ 'policy.limitation'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for policy in role.policies %}
                    {# @var policy \eZ\Publish\API\Repository\Values\User\Policy #}
                    <tr>
                        <td>
                            {%- if policy.module == '*' -%}
                                {{- 'policy.module_all'|trans -}}
                            {%- else -%}
                                {{- policy.module -}}
                            {%- endif -%}
                        </td>
                        <td>
                            {%- if policy.function == '*' -%}
                                {{- 'policy.function_all'|trans -}}
                            {%- else -%}
                                {{- policy.function -}}
                            {%- endif -%}
                        </td>
                        <td>
                            {%- for limitation in policy.limitations -%}
                                {# @var limitation \eZ\Publish\API\Repository\Values\User\Limitation #}
                                {{- limitation.identifier -}}
                                {%- for limitationValue in limitation.limitationValues -%}
                                    {%- if loop.first -%}( {% endif -%}
                                    {# TODO: https://jira.ez.no/browse/EZP-24699 Enrich Role limitations view with links and human readable names #}
                                    {{- limitationValue -}}
                                    {%- if not loop.last -%}, {% endif -%}
                                    {%- if loop.last %} ){%- endif -%}
                                {%- endfor -%}
                                {%- if not loop.last -%}, {% endif -%}
                            {%- else -%}
                                {{- 'policy.limitation_none'|trans -}}
                            {%- endfor -%}
                        </td>
                        <td>
                            {% set policyDeleteForm = deleteFormsByPolicyId[policy.id] %}
                            {{ form_start(policyDeleteForm, {"action": path("admin_policyDelete", {"roleId": role.id, "policyId": policy.id})}) }}
                                {% set dialogId = 'confirm-policy-removal-' ~ policy.id %}
                                {{
                                    include('@EzSystemsHybridPlatformUi/components/confirm_dialog.html.twig', {
                                        'dialogId': dialogId,
                                        'message': 'confirm.remove.policy'|trans()|desc('Are you sure you want to delete this policy?'),
                                        'confirmButton': policyDeleteForm.delete,
                                    })
                                }}

                                {{ form_widget(policyDeleteForm.policyId) }}
                                {{ form_widget(policyDeleteForm.roleId) }}
                                <a href="{{ path('admin_policyEdit', {'roleId': role.id, 'policyId': policy.id}) }}"
                                    class="ez-button ez-button-secondary" data-icon="&#xe606;"
                                    {% if not can_edit or editablePolicies[policy.id] is not defined %} data-disabled{% endif %}>
                                        {{ 'role.policy.edit_limitations'|trans }}
                                </a>
                                <button type="button" value="#{{ dialogId }}"
                                    class="ez-button ez-button-negative ez-js-open-modal"
                                    {% if not can_edit %} disabled{% endif %}>
                                    {{ policyDeleteForm.delete.vars.label|trans({}, policyDeleteForm.delete.vars.translation_domain) }}
                                </button>
                            {{ form_end(policyDeleteForm) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'role.policy_none'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ form_start(deleteForm, {"action": path("admin_roleDelete", {"roleId": role.id})}) }}
                {% set dialogId = 'confirm-role-removal' %}
                {{
                    include('@EzSystemsHybridPlatformUi/components/confirm_dialog.html.twig', {
                        'dialogId': dialogId,
                        'message': 'confirm.remove.role'|trans()|desc('Are you sure you want to delete this role?'),
                        'confirmButton': deleteForm.delete,
                    })
                }}

                <p class="ez-table-data-buttons">
                    <a href="{{ path('admin_policyEdit', {"roleId": role.id}) }}" class="ez-button ez-button-primary" data-icon="&#xe616;"{% if not can_edit %} data-disabled{% endif %}>{{ 'role.policy.add'|trans }}</a>
                    <a href="{{ path('admin_roleUpdate', {"roleId": role.id}) }}" class="ez-button ez-button-secondary" data-icon="&#xe606;"{% if not can_edit %} data-disabled{% endif %}>{{ 'role.edit'|trans }}</a>

                    {{ form_widget(deleteForm.roleId) }}
                    <button type="button" value="#{{ dialogId }}"
                        class="ez-button ez-button-negative ez-js-open-modal" {% if not can_delete %} disabled{% endif %}>
                        {{ deleteForm.delete.vars.label|trans({}, deleteForm.delete.vars.translation_domain) }}
                    </button>

                </p>
            {{ form_end(deleteForm) }}
        </div>

        <div class="ez-tabs-panel" id="ez-tabs-content">
            <table class="ez-table-data ez-table-data-row-tool">
                <thead>
                <tr>
                    <th>{{ 'assignment.user_or_group'|trans }}</th>
                    <th>{{ 'assignment.role_limitation'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for role_assignment in role_assignments %}
                    {# @var role_assignment \eZ\Publish\API\Repository\Values\User\RoleAssignment #}
                    <tr>
                        <td>
                            {# These should be linked to the user/group views. See follow-up EZP-25030 #}
                            {%- if role_assignment.getUserGroup is defined -%}
                                {{ ez_content_name( role_assignment.usergroup ) }}
                            {%- else -%}
                                {{ ez_content_name( role_assignment.user ) }}
                            {%- endif -%}
                        </td>
                        <td>
                            {%- if role_assignment.rolelimitation -%}
                                {{- role_assignment.rolelimitation.identifier -}}
                                {%- for limitationValue in role_assignment.rolelimitation.limitationValues -%}
                                    {%- if loop.first -%}( {% endif -%}
                                    {# TODO: https://jira.ez.no/browse/EZP-24699 Enrich Role limitations view with links and human readable names #}
                                    {{- limitationValue -}}
                                    {%- if not loop.last -%}, {% endif -%}
                                    {%- if loop.last %} ){%- endif -%}
                                {%- endfor -%}
                            {%- else -%}
                                {{- 'assignment.role_limitation_none'|trans -}}
                            {%- endif -%}
                        </td>
                        <td>
                            {% set deleteForm = deleteFormsByAssignment[role_assignment.id] %}
                            {{ form_start(deleteForm, {"action": path("admin_roleAssignmentDelete", {"roleAssignmentId": role_assignment.id, "redirectErrorsTo": "view"})}) }}
                                {{ form_widget(deleteForm.assignmentId) }}

                                {% set dialogId = 'confirm-assignment-removal-' ~ role_assignment.id %}
                                {{
                                    include('@EzSystemsHybridPlatformUi/components/confirm_dialog.html.twig', {
                                        'dialogId': dialogId,
                                        'message': 'confirm.remove.role-assignment'|trans()|desc('Are you sure you want to delete this assignment?'),
                                        'confirmButton': deleteForm.delete,
                                    })
                                }}

                                <button type="button" value="#{{ dialogId }}"
                                    class="ez-button ez-button-negative ez-js-open-modal"
                                    {% if not can_assign %} disabled{% endif %}>
                                    {{ deleteForm.delete.vars.label|trans({}, deleteForm.delete.vars.translation_domain) }}
                                </button>
                            {{ form_end(deleteForm) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'assignment.none'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                <button
                        data-universaldiscovery-title="{{ 'role.assign.universaldiscovery.title'|trans({'%roleIdentifier%': role.identifier })|e('html_attr') }}"
                        data-role-rest-id="{{ path( 'ezpublish_rest_loadRole', {'roleId': role.id}) }}"
                        data-role-name="{{ role.identifier }}"
                        data-role-assignment-limitation-type="{{ 'none' }}"
                        class="ez-button ez-button-primary">
                    {% if not can_assign %}disabled{% endif %}
                    {{ 'role.assign.user_or_group'|trans }}
                </button>
                <button
                        data-universaldiscovery-title="{{ 'role.assign.universaldiscovery.title'|trans({'%roleIdentifier%': role.identifier })|e('html_attr') }}"
                        data-universaldiscovery-limit-subtree-title="{{ 'role.assign_limit_subtree.universaldiscovery.title'|trans({'%roleIdentifier%': role.identifier })|e('html_attr') }}"
                        data-role-rest-id="{{ path( 'ezpublish_rest_loadRole', {'roleId': role.id}) }}"
                        data-role-name="{{ role.identifier }}"
                        data-role-assignment-limitation-type="{{ 'Subtree' }}"
                        class="ez-button ez-button-secondary">
                    {% if not can_assign %}disabled{% endif %}
                    {{ 'role.assign_limit_subtree.user_or_group'|trans }}
                </button>
                <a href="{{ path('admin_roleAssignSection', {"roleId": role.id}) }}" class="ez-button ez-button-secondary"{% if not can_assign %} data-disabled{% endif %}>
                    {{- 'role.assign_limit_section.user_or_group'|trans -}}
                </a>
            </p>
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'role'|trans }}{% endblock %}
