{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "content_type" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: path('admin_contenttype'), label: 'content_type.dashboard_title'|trans},
        {link: null, label: 'content_type.group.list'|trans}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'content_type.group.list'|trans }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-table-data is-flexible">
            <div class="ez-table-data-container">
                <table class="pure-table pure-table-striped ez-selection-table">
                    <thead>
                    <tr class="ez-selection-table-row">
                        <th>{{ 'content_type.group.name'|trans }}</th>
                        <th>{{ 'content_type.group.id'|trans }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in content_type_groups %}
                        {# @var group \eZ\Publish\Core\Repository\Values\ContentType\ContentTypeGroup #}
                        <tr>
                            <td><a href="{{ path("admin_contenttypeGroupView", {"contentTypeGroupId": group.id}) }}">{{ group.identifier }}</a></td>
                            <td>{{ group.id }}</td>
                            <td>
                            {% if can_edit %}
                                <a href="{{ path("admin_contenttypeGroupEdit", {'contentTypeGroupId': group.id}) }}" class="pure-button ez-button" data-icon="&#xe606;">{{ 'content_type.group.edit'|trans }}</a>
                            {% else %}
                                <span class="pure-button ez-button pure-button-disabled" data-icon="&#xe606;">{{ 'content_type.group.edit'|trans }}</span>
                            {% endif %}
                            </td>
                            <td>
                                {% set deleteForm = delete_forms_by_id[group.id] %}
                                {{ form_start(deleteForm, {"action": path("admin_contenttypeGroupDelete", {"contentTypeGroupId": group.id})}) }}
                                {{ form_widget(deleteForm.contentTypeGroupId) }}
                                {{
                                    form_widget(
                                        deleteForm.delete,
                                        {
                                            "disabled": not can_delete,
                                            "attr": {"class": "pure-button ez-button ez-remove-section-button ez-font-icon ez-button-delete"}
                                        }
                                    )
                                }}
                                {{ form_end(deleteForm) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="ez-table-data-buttons">
                    {% if can_edit %}
                        <a href="{{ path('admin_contenttypeGroupEdit') }}" class="pure-button ez-button" data-icon="&#xe616;">{{ 'content_type.group.new'|trans }}</a>
                    {% else %}
                        <span class="pure-button ez-button pure-button-disabled" data-icon="&#xe616;">{{ 'content_type.group.new'|trans }}</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'content_type.group.list'|trans }}{% endblock %}
