{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}
{# @var contentTypeDraft \eZ\Publish\API\Repository\Values\ContentType\ContentTypeDraft #}

{% trans_default_domain "content_type" %}

{% set edit_title = "content_type.edit_title"|trans({"%contentTypeName%": contentTypeName}, "ezrepoforms_content_type") %}

{% block title %}
    {{ edit_title }}
{% endblock %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path("admin_dashboard"), label: "dashboard.title"|trans({}, "dashboard")},
        {link: path("admin_contenttype"), label: "content_type.dashboard_title"|trans({}, "content_type")},
        {link: null, label: edit_title}
    ] %}

    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe61a;">
        {{ edit_title }}
    </h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">

        <p class="ez-technical-infos">
            {{
                "content_type.last_modified"|trans({
                    "%date%": contentTypeDraft.modificationDate|localizeddate(locale=app.request.locale),
                    "%modifier%": modifier.login
                })
            }}
        </p>

        {{ form_start(form, {"action": action_url, "attr": {"class": "pure-form pure-form-aligned"}}) }}
            {{ form_errors(form) }}

            <fieldset>
                <div class="pure-control-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.identifier) }}
                    {{ form_errors(form.identifier) }}
                    {{ form_widget(form.identifier) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.nameSchema) }}
                    {{ form_errors(form.nameSchema) }}
                    {{ form_widget(form.nameSchema) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.urlAliasSchema) }}
                    {{ form_errors(form.urlAliasSchema) }}
                    {{ form_widget(form.urlAliasSchema) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.isContainer) }}
                    {{ form_errors(form.isContainer) }}
                    {{ form_widget(form.isContainer) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.defaultSortField) }}
                    {{ form_errors(form.defaultSortField) }}
                    {{ form_widget(form.defaultSortField) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.defaultSortOrder) }}
                    {{ form_errors(form.defaultSortOrder) }}
                    {{ form_widget(form.defaultSortOrder) }}
                </div>

                <div class="pure-control-group">
                    {{ form_label(form.defaultAlwaysAvailable) }}
                    {{ form_errors(form.defaultAlwaysAvailable) }}
                    {{ form_widget(form.defaultAlwaysAvailable) }}
                </div>
            </fieldset>

            <h2>{{ form_label(form.fieldDefinitionsData) }}</h2>
            {% for fieldDefForm in form.fieldDefinitionsData %}
                <fieldset>
                    {% form_theme fieldDefForm "EzSystemsRepositoryFormsBundle:ContentType:field_definition_row.html.twig" %}
                    {{ form_row(fieldDefForm, {"contentTypeDraft": contentTypeDraft, "languageCode": languageCode, "group_class": "pure-control-group"}) }}
                </fieldset>
            {% endfor %}

            <div class="pure-control-group">
                {{ form_widget(form.removeFieldDefinition, {"attr": {"class": "pure-button ez-button"}}) }}
            </div>

            <div class="pure-control-group">
                {{ form_label(form.fieldTypeSelection) }}
                {{ form_widget(form.fieldTypeSelection) }}
                {{ form_widget(form.addFieldDefinition, {"attr": {"class": "pure-button ez-button"}}) }}
            </div>

            <div class="pure-controls">
                {{ form_widget(form.removeDraft, {"attr": {"class": "pure-button ez-button", "formnovalidate": "formnovalidate"}}) }}
                {{ form_widget(form.saveContentType, {"attr": {"class": "pure-button ez-button"}}) }}
                {{ form_widget(form.publishContentType, {"attr": {"class": "pure-button ez-button"}}) }}
            </div>

        {{ form_end(form) }}
    </section>
{% endblock %}

{% block notification %}
    {% if hasErrors|length %}
        <li data-state="error">{{ "form.validation_error"|trans(domain="general") }}</li>
    {% endif %}
    {{ parent() }}
{% endblock %}
