{# @var group \eZ\Publish\API\Repository\Values\ContentType\ContentTypeGroup #}
{# @var content_types \eZ\Publish\API\Repository\Values\ContentType\ContentType[] #}
{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "content_type" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
    {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
    {link: null, label: 'content_type.dashboard_title'|trans},
    {link: null, label: group.identifier|trans}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'content_type.group'|trans({'%name%': group.identifier}) }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-table-data is-flexible">
            <table class="pure-table pure-table-striped ez-selection-table">
                <thead>
                <tr class="ez-selection-table-row">
                    <th>{{ 'content_type.name'|trans }}</th>
                    <th>{{ 'content_type.id'|trans }}</th>
                    <th>{{ 'content_type.identifier'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for content_type in content_types %}
                    <tr>
                        <td><a href="">{{ content_type.names|first }}</a></td>
                        <td>{{ content_type.id }}</td>
                        <td>{{ content_type.identifier }}</td>
                        <td>
                            <a href="{{ path('admin_contenttypeUpdate', {'contentTypeId': group.id}) }}" class="pure-button ez-button{% if not can_edit %} pure-button-disabled{% endif %}" data-icon="&#xe606;">{{ 'content_type.edit'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'content_type.group.list'|trans }}{% endblock %}

