{# @var group \eZ\Publish\API\Repository\Values\ContentType\ContentTypeGroup #}
{# @var content_types \eZ\Publish\API\Repository\Values\ContentType\ContentType[] #}
{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "content_type" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: path('admin_contenttype'), label: 'content_type.dashboard_title'|trans},
        {link: null, label: group.identifier}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'content_type.group'|trans({'%name%': group.identifier}) }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-table-data is-flexible">
            <div class="ez-table-data-container">
                <table class="pure-table pure-table-striped ez-selection-table">
                    <thead>
                    <tr class="ez-selection-table-row">
                        <th>{{ 'content_type.id'|trans }}</th>
                        <th>{{ 'content_type.name'|trans }}</th>
                        <th>{{ 'content_type.identifier'|trans }}</th>
                        <th>{{ 'content_type.modified_date'|trans }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content_type in content_types %}
                        <tr>
                            <td>{{ content_type.id }}</td>
                            <td><a href="{{ path('admin_contenttypeView', {'contentTypeId': content_type.id}) }}">{{ ez_trans_prop(content_type, "name") }}</a></td>
                            <td>{{ content_type.identifier }}</td>
                            <td>{{ content_type.modificationDate|localizeddate("medium", "medium", app.request.locale) }}</td>
                            <td>
                            {% if can_edit %}
                                <a href="{{ path('admin_contenttypeUpdate', {'contentTypeId': content_type.id}) }}" class="pure-button ez-button" data-icon="&#xe606;">{{ 'content_type.edit'|trans }}</a>
                            {% else %}
                                <span class="pure-button ez-button pure-button-disabled" data-icon="&#xe606;">{{ 'content_type.edit'|trans }}</span>
                            {% endif %}
                            </td>
                            <td>
                                {% set deleteForm = delete_forms_by_id[content_type.id] %}
                                {{ form_start(deleteForm, {"action": path("admin_contenttypeDelete", {"contentTypeId": content_type.id})}) }}
                                    {{ form_widget(deleteForm.contentTypeId) }}
                                    {{
                                        form_widget(
                                            deleteForm.delete,
                                            {
                                                "disabled": not can_delete_by_id[content_type.id],
                                                "attr": {"class": "pure-button ez-button ez-remove-section-button ez-font-icon ez-button-delete"}
                                            }
                                        )
                                    }}
                                {{ form_end(deleteForm) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form_start(create_form, {"action": path("admin_contenttypeCreate", {"contentTypeGroupId": group.id})}) }}
                <p class="ez-table-data-buttons">
                    {# TODO: We should be able to select a language for ContentType creation #}
                    {{ form_widget(create_form.contentTypeGroupId) }}
                    <button type="submit" class="pure-button ez-button" data-icon="&#xe616;"{% if not can_create %} disabled="disabled"{% endif %}
                            name="{{ create_form.create.vars['full_name'] }}"
                            id="{{ create_form.create.vars['id'] }}">{{ create_form.create.vars['label']|trans(domain="ezrepoforms_content_type") }}</button>
                    {% do create_form.create.setRendered() %}
                </p>
                {{ form_end(create_form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'content_type.group.list'|trans }}{% endblock %}

