{# @var group \eZ\Publish\API\Repository\Values\ContentType\ContentTypeGroup #}
{# @var content_types \eZ\Publish\API\Repository\Values\ContentType\ContentType[] #}
{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "content_type" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: path('admin_contenttype'), label: 'content_type.dashboard_title'|trans},
        {link: null, label: group.identifier}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe91f;">{{ 'content_type.group'|trans({'%name%': group.identifier}) }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-list-toolbar">
            <h2 class="ez-list-toolbar-label">{{ 'content_type.list'|trans|desc('List of Content Types') }}</h2>
            {{ form_start(create_form, {"action": path("admin_contenttypeCreate", {"contentTypeGroupId": group.id}), 'attr': {'class': 'ez-list-toolbar-tools'}}) }}
                {# TODO: We should be able to select a language for ContentType creation #}
                {{ form_widget(create_form.contentTypeGroupId) }}
                <button type="submit" class="ez-button ez-button-primary" data-icon="&#xe616;"{% if not can_create %} disabled="disabled"{% endif %}
                        name="{{ create_form.create.vars['full_name'] }}"
                        id="{{ create_form.create.vars['id'] }}">{{ create_form.create.vars['label']|trans(domain="ezrepoforms_content_type") }}</button>
                {% do create_form.create.setRendered() %}
            {{ form_end(create_form) }}
        </div>
        <table class="ez-table-data ez-table-data-row-tool">
            <thead>
                <tr>
                    <th>{{ 'content_type.id'|trans }}</th>
                    <th>{{ 'content_type.name'|trans }}</th>
                    <th>{{ 'content_type.identifier'|trans }}</th>
                    <th>{{ 'content_type.modified_date'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for content_type in content_types %}
                <tr>
                    <td>{{ content_type.id }}</td>
                    <td><a class="ez-contenttype-icon ez-contenttype-icon-{{ content_type.identifier }}" href="{{ path('admin_contenttypeView', {'contentTypeId': content_type.id}) }}">{{ ez_trans_prop(content_type, "name") }}</a></td>
                    <td>{{ content_type.identifier }}</td>
                    <td>{{ content_type.modificationDate|localizeddate("medium", "medium", app.request.locale) }}</td>
                    <td>
                        {% set deleteForm = delete_forms_by_id[content_type.id] %}
                        {{ form_start(deleteForm, {"action": path("admin_contenttypeDelete", {"contentTypeId": content_type.id})}) }}
                            {{ form_widget(deleteForm.contentTypeId) }}

                            {% set dialogId = 'confirm-contenttype-removal-' ~ content_type.id %}
                            {{
                                include('@EzSystemsHybridPlatformUi/components/confirm_dialog.html.twig', {
                                    'dialogId': dialogId,
                                    'message': 'confirm.remove.contenttype'|trans()|desc('Are you sure you want to delete this content type?'),
                                    'confirmButton': deleteForm.delete,
                                })
                            }}

                            <a href="{{ path('admin_contenttypeUpdate', {'contentTypeId': content_type.id}) }}" class="ez-button ez-button-secondary" data-icon="&#xe606;"{% if not can_edit %} data-disabled{% endif %}>{{ 'content_type.edit'|trans }}</a>

                            <button type="button" value="#{{ dialogId }}"
                                class="ez-button ez-button-negative ez-js-open-modal"
                                {% if not can_delete_by_id[content_type.id] %}
                                    disabled
                                    title="{{ 'content_type.is_in_use'|trans|desc("The content type cannot be deleted because it has content items, or because you don't have permission.") }}"
                                {% endif %}>
                                {{ deleteForm.delete.vars.label|trans({}, deleteForm.delete.vars.translation_domain) }}
                            </button>
                        {{ form_end(deleteForm) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block title %}{{ 'content_type.group.list'|trans }}{% endblock %}

