{# @var group \eZ\Publish\API\Repository\Values\ContentType\ContentTypeGroup #}
{# @var content_types \eZ\Publish\API\Repository\Values\ContentType\ContentType[] #}
{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% trans_default_domain "content_type" %}

{% block header_breadcrumbs %}
    {% set breadcrumb_items = [
        {link: path('admin_dashboard'), label: 'dashboard.title'|trans({}, 'dashboard')},
        {link: path('admin_contenttype'), label: 'content_type.dashboard_title'|trans},
        {link: null, label: group.identifier}
    ] %}
    {{ parent() }}
{% endblock %}

{% block header_title %}
    <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'content_type.group'|trans({'%name%': group.identifier}) }}</h1>
{% endblock %}

{% block content %}
    <section class="ez-serverside-content">
        <div class="ez-table-data is-flexible">
            <div class="ez-table-data-container">
                <table class="pure-table pure-table-striped ez-selection-table">
                    <thead>
                    <tr class="ez-selection-table-row">
                        <th></th>
                        <th>{{ 'content_type.id'|trans }}</th>
                        <th>{{ 'content_type.name'|trans }}</th>
                        <th>{{ 'content_type.identifier'|trans }}</th>
                        <th>{{ 'content_type.modified_date'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content_type in content_types %}
                        <tr>
                            <td></td>
                            <td>{{ content_type.id }}</td>
                            <td><a href="{{ path('admin_contenttypeView', {'contentTypeId': content_type.id}) }}">{{ ez_trans_prop(content_type, "name") }}</a></td>
                            <td>{{ content_type.identifier }}</td>
                            <td>{{ content_type.modificationDate|localizeddate("medium", "medium", app.request.locale) }}</td>
                            <td>
                                <a href="{{ path('admin_contenttypeUpdate', {'contentTypeId': content_type.id}) }}" class="pure-button ez-button{% if not can_edit %} pure-button-disabled{% endif %}" data-icon="&#xe606;">{{ 'content_type.edit'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="ez-table-data-buttons">
                    {# TODO: We should be able to select a language for ContentType creation #}
                    <a href="{{ path('admin_contenttypeCreate', {"contentTypeGroupId": group.id}) }}" class="pure-button ez-button{% if not can_create %} pure-button-disabled{% endif %}" data-icon="&#xe616;">{{ 'content_type.create'|trans }}</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}{{ 'content_type.group.list'|trans }}{% endblock %}

