<!doctype html>
<html lang="{{ app.request.locale }}" class="ez-editorial-app-page">
<head>
    <title>Editorial application</title>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="utf-8"/>
{% stylesheets
    '@eZEditorialBundle/Resources/public/vendors/pure/base-context-min.css'
    '@eZEditorialBundle/Resources/public/vendors/pure/grids-min.css'
    '@eZEditorialBundle/Resources/public/vendors/pure/buttons-min.css'

    '@eZEditorialBundle/Resources/public/css/layout.css'
    '@eZEditorialBundle/Resources/public/css/views/navigationhub.css'
    '@eZEditorialBundle/Resources/public/css/views/contentedit.css'
    '@eZEditorialBundle/Resources/public/css/views/locationview.css'
    '@eZEditorialBundle/Resources/public/css/views/rawcontent.css'
    '@eZEditorialBundle/Resources/public/css/views/field.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/view/maplocation.css'
    '@eZEditorialBundle/Resources/public/css/views/contenteditform.css'
    '@eZEditorialBundle/Resources/public/css/views/bar.css'
    '@eZEditorialBundle/Resources/public/css/views/discoverybar.css'
    '@eZEditorialBundle/Resources/public/css/views/actions/button.css'
    '@eZEditorialBundle/Resources/public/css/views/actions/preview.css'
    '@eZEditorialBundle/Resources/public/css/views/editpreview.css'
    '@eZEditorialBundle/Resources/public/css/views/fieldedit.css'
    '@eZEditorialBundle/Resources/public/css/views/error.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/checkbox.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/textline.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/textblock.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/emailaddress.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/url.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/float.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/integer.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/maplocation.css'
    '@eZEditorialBundle/Resources/public/css/views/fields/edit/author.css'
    '@eZEditorialBundle/Resources/public/css/modules/tabs.css'

    '@eZEditorialBundle/Resources/public/css/theme/app.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/error.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/bar.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/discoverybar.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/actions/button.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/actions/preview.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/dashboard.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/navigationhub.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/locationview.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/rawcontent.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/field.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/fields/view/url.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/fields/view/maplocation.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/contentedit.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/contenteditform.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/editpreview.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/fieldedit.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/fields/edit/maplocation.css'
    '@eZEditorialBundle/Resources/public/css/theme/views/fields/edit/author.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
    <style>
        .ez-loading-message {
            display: none;
        }

        .yui3-js-enabled .ez-loading-message {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 40px;
            margin-top: 50px;
            text-align: center;
            display: block;
            color: #888;
        }
        .ez-editorial-app-ready .ez-loading-message {
            display: none;
        }
    </style>
</head>
<body class="ez-editorial-app-body">
    <div class="ez-loading-message"><em>{{ 'Loading the application...'|trans }}</em></div>
    <div class="ez-editorial-app pure is-menu-hidden is-navigation-hidden">
        <div class="ez-navigation-container"></div>
        <div class="ez-mainviews pure-g">
            <div class="ez-menu-container pure-u"></div>
            <div class="ez-view-container pure-u"></div>
        </div>
        <div class="ez-errorview-container is-hidden pure-u"></div>
    </div>

    <noscript>
        <p>{{ 'JavaScript is disabled in your browser but it is required to run the editorial application.'|trans }}</p>
        <p><strong>{{ 'Please enable JavaScript to use the editorial application.'|trans }}</strong></p>
    </noscript>
    <script src="{{ asset( "extension/ezjscore/design/standard/lib/yui/3.15.0/build/yui/yui-min.js" ) }}"></script>
    <script>
        {{ ez_editorial_yui_config( "YUI.GlobalConfig" ) }}

        YUI.GlobalConfig.onSuccess = function (e) {
            for (var i = 0, len = e.data.length; i < len; ++i) {
                if ( e.data[i] === 'ez-capi' ) {
                    YUI.add('ez-capi', function (Y) {
                        Y.namespace('eZ');
                        Y.eZ.CAPI = eZ.CAPI;
                        Y.eZ.SessionAuthAgent = eZ.SessionAuthAgent;
                    });
                }
            }
        };

        YUI().use('ez-editorialapp', function (Y) {
            var app = new Y.eZ.EditorialApp({
                    container: '.ez-editorial-app',
                    viewContainer: '.ez-view-container',
                    root: "{{ app.request.attributes.get( 'semanticPathinfo' ) }}",
                    assetRoot: "{{ asset( '/' ) }}",
                    capi: new Y.eZ.CAPI(
                        "{{ app.request.uriForPath('/')|trim('/') }}",
                        new Y.eZ.SessionAuthAgent({
                            login: "admin",
                            password: "ezpublish"
                        })
                    )
                });
            app.on('ready', function () {
                Y.one(Y.config.doc.documentElement).addClass('ez-editorial-app-ready');
            });
            app.render().dispatch();

            // for now redirecting to the dashboard to boot the application
            if ( !Y.config.doc.location.hash ) {
                Y.config.doc.location.hash = '#/dashboard';
            }
        });
    </script>

{% macro include(tpl, name) %}
<script type="text/x-handlebars-template" id="{{ name }}-ez-template">
{{ source( 'eZEditorialBundle:Editorial/handlebars:' ~ tpl ~ '.twig' ) }}
</script>
{% endmacro %}

{% macro partial(tpl, name) %}
<script type="text/x-handlebars-template" id="{{ name }}" class="ez-editorial-app-partial">
{{ source( 'eZEditorialBundle:Editorial/handlebars/partials/:' ~ tpl ~ '.twig' ) }}
</script>
{% endmacro %}

{% import _self as handlebars %}

{{ handlebars.include( 'dashboardview.handlebars', 'dashboardview' ) }}

{{ handlebars.include( 'locationviewview.handlebars', 'locationviewview' ) }}
{{ handlebars.include( 'rawcontentview.handlebars', 'rawcontentview' ) }}

{{ handlebars.include( 'fields/view/field.handlebars', 'fieldview' ) }}
{{ handlebars.include( 'fields/view/url.handlebars', 'urlview' ) }}
{{ handlebars.include( 'fields/view/maplocation.handlebars', 'maplocationview' ) }}

{{ handlebars.include( 'contenteditview.handlebars', 'contenteditview' ) }}
{{ handlebars.include( 'contenteditformview.handlebars', 'contenteditformview' ) }}

{{ handlebars.include( 'navigationhubview.handlebars', 'navigationhubview' ) }}

{{ handlebars.include( 'barview.handlebars', 'barview' ) }}
{{ handlebars.include( 'buttonactionview.handlebars', 'buttonactionview' ) }}
{{ handlebars.include( 'previewactionview.handlebars', 'previewactionview' ) }}
{{ handlebars.include( 'editpreviewview.handlebars', 'editpreviewview' ) }}

{{ handlebars.include( 'fields/edit/checkbox.handlebars', 'checkboxeditview' ) }}
{{ handlebars.include( 'fields/edit/textline.handlebars', 'textlineeditview' ) }}
{{ handlebars.include( 'fields/edit/textblock.handlebars', 'textblockeditview' ) }}
{{ handlebars.include( 'fields/edit/emailaddress.handlebars', 'emailaddresseditview' ) }}
{{ handlebars.include( 'fields/edit/url.handlebars', 'urleditview' ) }}
{{ handlebars.include( 'fields/edit/float.handlebars', 'floateditview' ) }}
{{ handlebars.include( 'fields/edit/integer.handlebars', 'integereditview' ) }}
{{ handlebars.include( 'fields/edit/maplocation.handlebars', 'maplocationeditview' ) }}
{{ handlebars.include( 'fields/edit/author.handlebars', 'authoreditview' ) }}
{{ handlebars.include( 'fields/edit/authorinput.handlebars', 'authorinputview' ) }}

{{ handlebars.include( 'errorview.handlebars', 'errorview' ) }}

{{ handlebars.partial( 'fieldinfo_tooltip.handlebars', 'ez_fieldinfo_tooltip' ) }}
</body>
</html>
